<!DOCTYPE html>
<html>

<h1>Editing Book</h1>

<%= form_with model: @book, url: update_book_path(@book.id), method: :patch do |bk| %>

<label>Title</label>
<%= bk.text_field :title %>

<label>Body</label>
<%= bk.text_area :body %>

<%= bk.submit 'Update Book' %>


<%= link_to "Show", "/books/#{@book.id}" %>
|
<%= link_to "Back", "/books" %>

<% end %>