<!DOCTYPE html>
<html lang="ja">
<head>
</head>
<body>
<h1>Books</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  <% @books.each do |bk| %>
    <tr>
      <tb><span><%= bk.title %></span></tb>
      <tb><span><%= bk.body %></span></tb>
      <tb><span><%= link_to "Show", "/books/#{bk.id}" %></span></tb>
      <tb><span><%= link_to "Edit", "/books/#{bk.id}/edit" %></span></tb>
      <tb><span><%= link_to "Destroy", destroy_abook_path(bk.id), method: :delete, "data-confirm" => "Are you sure?" %></span><tb>
    </tr>
    <% end %>
  </tbody>
</table>
</body>
<h3>New book</h3>
<%= form_with model: @book do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>Body</h4>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>
<% end %>